// Place all the styles related to the coaching controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  margin: 50px auto;
  padding: 20px;
  border-radius: 20px;
  background-color: #DD4D61;
  color: white;
  text-align: center;
  width: 500px;
  height: 200px;
}
.another {
  padding: 10px;
  border-radius: 20px;
  background-color: white;
  text-decoration: none;
  width: 200px;
  margin: auto;
}

